{% from "macros/case-display.njk" import caseDisplay %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block content %}

{{ govukButton({
      id: "create-button",
      text: "Create a new Case",
      href: "/create-case"
    }) }}

<hr class="govuk-section-break govuk-section-break--visible">
<div class="govuk-!-padding-bottom-2"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop">

    <h3 class="govuk-heading-m">Search for a case</h3>

    <div class="govuk-form-group">
      <label class="govuk-label" for="case-id">
        Case ID
      </label>
      <p id="case-id-error" class="govuk-error-message" style="display: none;">
        <span class="govuk-visually-hidden">Error:</span> Enter a valid Case ID
      </p>
      <input class="govuk-input" id="case-id" name="caseId" type="number" aria-describedby="case-id-hint case-id-error">
    </div>

    {{ govukButton({
      id: "find-button",
      text: "Find"
    }) }}

  </div>
  <div class="govuk-grid-column-two-thirds-from-desktop">
    {% if isOk %}

      {% if cases %}
        {% for case cases %}
          <div class="govuk-accordion__section">
            {{ caseDisplay(case) }}
          </div>
        {% endfor %}

      {% else %}
        <p> No cases found </p>
      {% endif %}

    {% else %}

      <p>API Error</p>

    {% endif %}
  </div>
</div>

<script>
  const caseIdInput = document.getElementById('case-id');
  const findButton = document.getElementById('find-button');
  const errorMessage = document.getElementById('case-id-error');
  const formGroup = caseIdInput.closest('.govuk-form-group');

  findButton.addEventListener('click', function() {

    const inputValue = caseIdInput.value.trim();

    if (inputValue !== "") {

      window.location.href = `/show-case/${inputValue}`;

    } else {
      errorMessage.style.display = "block";
      formGroup.classList.add('govuk-form-group--error');
      caseIdInput.classList.add('govuk-input--error');
    }
  });
</script>

{% endblock %}